@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    color:olive;
}

/* header, headings and nav-bar stayling */





h1, h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    text-transform: lowercase;
}

a {
    text-decoration: none;
    color: olive;
}

#logo {
    color: black;
    float:left;
    font-size: 200%;
    margin-left: 30px;
    margin-top: 15px;
    

}

/* large margin-right to keep text from  bass strings */

ul {
    margin-right: 10px;
}

/* how  do i get my nav bar to stay at the top of the screen? */

#menu li  {
    float:right;
    list-style-type: none;
    margin-right: 5%;
    text-transform: lowercase;
    margin-top: 15px;
    font-size: 120%;
   
}

/* below keeping the nav bar and logo in line with one another */
#menu, #logo  {
    line-height: 60px;
    padding-bottom: 30px; 
    
}


#menu a:hover{
    text-decoration: underline;
    color: black;
    
}


/* hero image styling */


#big-bass {
    width: 100%;
    background: url(../images/bass-guitar-hero.jpeg) no-repeat center center;
    height: 900px;
    margin-top: 60px;
 
    
}

#big-bass-outer {
    margin-top: 75px;
    width:100%;
    height: 900px;
    position:relative;
    
    
}

#slogan {
    /* 30px margin left to match the logo */
    margin: 75px auto auto 30px; 
    color: white;
    padding-top: 30px;
}

#slogan h2 {
    text-transform: lowercase;
    font-size: 22px;
    position: absolute;
}


}

/* about section */


#about-container {
    height: 600px;
    width: 100%;
}

#about-container #what-we-do {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

#about {
    height:600px;
    width: 100%;
    display:block;
    
   
}

.about-sections {
    display: inline-block;
    float: left;
    
}


#about-container h2 {
    padding-bottom 15px;
}

#about .about-section {
    color: #fafafa;
    background-color:#f59042 ;
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5%;
}

#what-we-do {
    padding-bottom: 30px;
}

#about ul {
    padding: 15px;
    font-size: 20px;
    list-style: none;
    


}




/* reponsive design for large to medium-small sized screens at 538px and above */


@media screen and (max-width: 538px) {
    #menu li  {
        
        list-style-type: none;
        margin-right: 3%;
        text-transform: lowercase;
        margin-top: 15px;
        font-size: 100%;
        margin-left: 5px;
        
       
      
        
        ul {
            margin-right: 0px;
        }



/* reponsive design for large to medium-small sized screens at 375px (Iphone X) and above */

/* dissapears and reappers again */

@media screen and (max-width: 386px) {
    #menu li  {
        
        list-style-type: none;
        margin-right: 2px;
        text-transform: lowercase;
        margin-top: 15px;
        font-size: small;
        margin-left: 1%;

    }
}

@media screen and (max-width: 1080px) {

    .about-section {
        width: 100%;
        clear: both;
    }


}